{% extends 'base.html' %} {% block content %}
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <form
          method="post"
          action="{% url 'student_design' %}"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <div class="col-12">
            <h5 class="form-title"><span>Student Design</span></h5>
          </div>
          {% include 'includes/messages.html' %} 
          {% for i in student %}

          <div class="col-12 col-sm-11">
            <div class="form-group">
              <label>Student Name</label>
              <input
                type="text"
                class="form-control"
                name="first_name"
                value="{{i.admin.first_name}}" readonly
              />
            </div>
          </div>
          <div class="col-12 col-sm-11">
            <div class="form-group">
              <label>Last Name</label>
              <input
                type="text"
                class="form-control"
                name="last_name"
                value="{{i.admin.last_name}}" readonly
              />
            </div>
          </div>

          <div class="col-12 col-sm-11">
            <div class="form-group">
              <label>Journal Name</label>
              <input
                type="text"
                class="form-control"
                name="journal_name"
                required
              />
            </div>
          </div>

          <div class="col-12 col-sm-11">
            <div class="form-group">
              <label>Product Name</label>
              <input
                type="text"
                class="form-control"
                name="product_name"
                required
              />
            </div>
          </div>

          <div class="col-12">
            <div class="card-body">
              <h5 class="card-title">Image</h5>
              <div class="for-group d-flex">
                <div class="col-sm-5 me-5" style="margin-top: 100px">
                  <input
                    class="form-control"
                    type="file"
                    name="image_patient"
                    id="image-input"
                    accept="image/*"
                  />
                </div>
                <div class="col-sm-6">
                  <img id="preview-image" width="250px;" height="250px;" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-11 mt-4">
            <div class="form-group">
              <label>PPT Documents</label>
              <input type="file" class="form-control" name="document" />
            </div>
          </div>

          <div class="col-12">
            <button type="submit" class="btn btn-primary">Add Design</button>
          </div>
        </form>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
  var imageInput = document.getElementById("image-input");
  var previewImage = document.getElementById("preview-image");
  imageInput.addEventListener("change", function (event) {
    if (event.target.files.length == 0) {
      return;
    }
    var tempUrl = URL.createObjectURL(event.target.files[0]);
    previewImage.setAttribute("src", tempUrl);
  });
</script>
{% endblock content %}
